@use '../mixins/responsive.scss' as *;

.article-with-pic {
    position: relative;
    margin-bottom: 6rem;
}

.article {
    @include responsive(desktop) {
        background-color: white;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        max-width: 540px;
        padding-left: 6rem;
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__text {
        color: var(--dark-gray);
        text-align: center;
        line-height: 1.6;

        @include responsive(desktop) {
            text-align: left;
            font-size: 0.9rem;
            margin-bottom: 0;
        }
    }
}